{% load i18n %}
{% load status_colors %}
{% load status_icons %}
            {% for i in items %}
                <tr>
                <td>{{ i.type.name }}</td>
                <td>{{ i.code }}</td>
                <td> <div class="tags has-addons"> <span class="tag is-medium  {{ i.status|itemstatus_color }}"><i class="{{ i.status|itemstatus_icon}}"></i> </span><span class="tag is-medium ">{{ i.get_status_display }}</span></div></td>
                <td><a class="button is-link is-light" href="{% url 'item' i.id %}">{% trans 'item.view_profile' %}</a> </td>
                </tr>
            {% endfor %}


{% if petitions.has_next %}
    <tr hx-get="{% url 'items' %}?p={{ petitions.next_page_number }}" hx-trigger="revealed" hx-swap="outerHTML">
    <td colspan="5">...</td>
</tr>
{% endif %}

