{% load i18n %}

            {% for p in petitions %}
                <tr>
                <td><b>{{ p.type }}</b> {% if p.item %}({{ p.item.code }}){% endif %}</td>
                <td> {{ p.status }} </td>
                <td>{{ p.user }}</td>
                <td>{{ p.date|date:"d/m/Y H:i"  }}</td>
                <td><a class="button is-link is-light" href="{% url 'petition' p.id %}">{% trans 'petition.view_profile' %}</a></td>
                </tr>
            {% endfor %}


{% if petitions.has_next %}
    <tr hx-get="{% url 'petitions' %}?p={{ petitions.next_page_number }}" hx-trigger="revealed" hx-swap="outerHTML" hx-include="[name='pending_filter'], [name='active_filter'], [name='expired_filter'], [name='user_id']">
    <td colspan="5">...</td>
</tr>


{% endif %}

