{% load i18n %}
{% load status_colors %}
{% load status_icons %}
            {% for t in types %}
                <tr>
                <td>{{ t.name }}</td>
                <td> <div class="tags has-addons"> <span class="tag is-medium  {{ t.status|typestatus_color }} "><i class="{{ t.status|typestatus_icon}}"></i> </span><span class="tag is-medium ">{{ t.get_status_display }}</span></div>    </td>
<td><a class="button is-link is-light" href="{% url 'type' t.id %}">{% trans 'type.view_profile' %}</a></td>
                </tr>
            {% endfor %}


{% if types.has_next %}
    <tr hx-get="{% url 'types' %}?p={{ types.next_page_number }}" hx-trigger="revealed" hx-swap="outerHTML">
    <td colspan="5">...</td>
</tr>
{% endif %}


