{% load i18n %}

<div class="field has-addons is-justify-content-center">
        <div class="control has-icons-left" style="width: 100%;">
            <input class="input is-link is-medium has-text-centered"
                   type="text"
                   name="s"
                   placeholder="{% trans 'search' %}"
                   hx-get="{% url 'petitions' %}"
                   hx-trigger="keyup changed delay:300ms"
                   hx-target="#table"
                   hx-include="[name='status'], [name='user_id']"
                   data-theme="light">
            <span class="icon is-small is-left">
                <i class="iconoir-search"></i>
            </span>
        </div>
    </div>

           <div class="field is-justify-content-center mt-2">
           <div class="select is-medium is-fullwidth">
            <select name="status"
                    hx-trigger="change"
                    hx-get="{% url 'petitions' %}"
                    hx-target="#table"
                    hx-include="[name='s'], [name='user_id']">
                        <option value="">{% trans 'petitions.filter_none' %}</option>
                        {% for value, label in statii %}
                        <option value="{{ value }}" >{{ label }}</option>
                        {% endfor %}
            </select>
           </div>

        </div>

                  <table class="table is-striped is-hoverable is-fullwidth" style="vertical-align: center;">
        <thead>
            <tr>
                <th>{% trans 'petition.type' %}</th>
                <th>{% trans 'petition.status' %}</th>
                <th>{% trans 'petition.user' %}</th>
                <th>{% trans 'petition.date' %}</th>
                <th>{% trans 'petition.actions' %}</th>

            </tr>
        </thead>

        <tbody id="table">
                  {% include 'partials/tables/petitions.html' %}
        </tbody>
                  </table>