{% extends '__base.html' %}
{% load i18n %}

{% block title %}{% trans 'titles.type_list' %}{% endblock %}

{% block content %}


<div class="column">
              <div class="box" style="min-height: 400px;">
                  <div class="field has-addons is-justify-content-center">
        <div class="control has-icons-left" style="width: 100%;">
            <input class="input is-link is-medium has-text-centered"
                   type="text"
                   name="s"
                   placeholder="{% trans 'search' %}"
                   hx-get="{% url 'types' %}"
                   hx-trigger="keyup changed delay:300ms"
                   hx-target="#table" id="search"
                   hx-include="[name='status']">
            <span class="icon is-small is-left">
                <i class="iconoir-search"></i>
            </span>
        </div>
    </div>
   <div class="field is-justify-content-center mt-2">
    <div class="select is-medium is-fullwidth">
      <select
        name="status"
        hx-trigger="change"
        hx-get="{% url 'types' %}"
        hx-target="#table"
        hx-include="[name='s']">
        <option value="">{% trans 'petitions.filter_none' %}</option>
        {% for value, label in statii %}
          <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
                  <table class="table is-striped is-hoverable is-fullwidth" style="vertical-align: center;">
        <thead>
            <tr>
                <th>{% trans 'type.name' %}</th>
                <th>{% trans 'type.status' %}</th>
                <th>{% trans 'item.actions' %}</th>

            </tr>
        </thead>

        <tbody id="table">
                  {% include 'partials/tables/types.html' %}
        </tbody>
                  </table>

              </div>
</div>
{% endblock %}
