{% extends '__base.html' %}
{% load i18n %}

{% block title %}{% trans 'titles.type_profile' %}{% endblock %}

{% block content %}
<div class="column">
<div id="message"></div>
<div class="box">

        <div class="column is-full">
            <h4 class="subtitle is-4">
                {{ type.name }}
                {% if type.is_blocked %}
                    <div class="tags has-addons">
                        <span class="tag is-danger is-medium">
                            <i class="iconoir-lock-square"></i>
                        </span>
                        <span class="tag is-medium"> {% trans 'blocked' %}</span>
                    </div>
                {% endif %}
            </h4>
        </div>

        <form hx-post="{% url 'type' type.id %}" hx-target="#message">
            {% csrf_token %}

            <div class="column is-full">
                <p class="has-text-weight-semibold">{% trans 'type.name' %}</p>
                <p>
                    <input name="name" type="text"
                           class="input is-medium is-fullwidth"
                           value="{{ type.name }}"
                           {% if not request.user.is_superuser %} disabled {% endif %}/>
                </p>
            </div>

            <div class="column is-full">
                <p class="has-text-weight-semibold">{% trans 'type.description' %}</p>
                <p>
                    <textarea name="description"
                              class="textarea is-medium is-fullwidth"
                              {% if not request.user.is_superuser %} disabled {% endif %}> {{ type.description }}</textarea>
                </p>
            </div>

            <div class="column is-full">
                <p class="has-text-weight-semibold">{% trans 'type.conditions' %}</p>
                <p>
                    <textarea name="conditions"
                              class="textarea is-medium is-fullwidth"
                              {% if not request.user.is_superuser %} disabled {% endif %}>{{ type.conditions }}</textarea>
                </p>
            </div>

            <div class="column is-full">
                <p class="has-text-weight-semibold">{% trans 'type.status' %}</p>
                <div class="select is-medium is-fullwidth">
                    <select name="status" required>
                        {% for value, label in statii %}
                        <option value="{{ value }}" {% if value == type.status %} selected {% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


           <div class="field is-grouped">
    <button type="submit"
            class="button is-primary is-medium is-fullwidth"
            {% if not request.user.is_superuser %} disabled {% endif %}>
        {% trans 'submit' %}
    </button>
</div>
</form>

<form hx-post="{% url 'delete_type' %}" hx-target="#message"> {% csrf_token %}
    <div class="mt-4">
        <button type="submit" name="id" value="{{ type.id }}"
                class="button is-danger is-small"
                {% if not request.user.is_superuser %} disabled {% endif %}>
            {% trans 'delete' %}
        </button>
    </div>
</form>
    </div>
</div>

{% endblock %}



